name: ci
on:
  workflow_dispatch:
  push:
    branches:
      - v2
  pull_request:
jobs:
  ecs:
    name: ECS
    uses: craftcms/.github/.github/workflows/ecs.yml@v1
  phpstan:
    name: PHPStan
    uses: craftcms/.github/.github/workflows/phpstan.yml@v1
  notify-slack:
    name: Notify Slack
    needs: [ ecs, phpstan ]
    uses: craftcms/.github/.github/workflows/notify-slack.yml@v1
    with:
      success: ${{ needs.ecs.result == 'success' && needs.phpstan.result == 'success' }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      slack_webhook_url: ${{ secrets.SLACK_PLUGIN_WEBHOOK_URL }}
      slack_group_id: ${{ secrets.SLACK_GROUP_ID }}
